<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 6 / Фреймворк AngularJS / Нетология</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js "></script>
    </head>

    <body>

      <div  ng-controller="BookListCtrl">
        Найти:
        <input ng-model="query"><br><br>

        Сортировать по:
        <select ng-model="orderProperty">
            <option value="price">Цене</option>
            <option value="pages">Количеству страниц</option>
            <option value="name">Имени</option>
        </select>

        <ul>
            <li ng-repeat="book in books | filter:query | orderBy:orderProperty">
                <h3>{{book.name | uppercase}}</h3>
                <p>{{book.author}}</p>
                <p>Страниц:
                    {{book.pages}}, цена:
                    {{book.price}}</p>
                <p>Жанр: {{book.genre}}</p>
            </li>
        </ul>

        <p ng-show="query">
            Выведены книги, содержащие
            {{query}}
        </p>
      </div>

      <div  ng-controller="BookCardCtrl">
        <h2>Карточка товара:</h2>
        <h3>{{book.name | uppercase}}</h3>
        <p>Автор: {{book.author}}</p>
        <p>Артикул: {{book.id}}</p>
        <p>Жанр: {{book.genre}}</p>
        <p>Цена: {{book.price}}</p>
        <p>Страниц: {{book.pages}}</p>
      </div>


        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>

    </body>

</html>
